{% extends 'base.html' %}


{% block content %}
  <h1>{{person.username}}님의 프로필</h1>
  <div>
    팔로잉 : {{person.followings.count}} | 팔로워 : {{person.followers.count}}
  </div>

  <form action="{% url 'accounts:follow' person.pk %}" method='POST'>

    {% csrf_token %}

    {% if request.user in person.followers.all %}
      <button type='submit' class='btn btn-danger'>Unfollow</button>
    {% else %}
      <button type='submit' class='btn btn-success'>Follow</button>
    {% endif %}

  </form>
  <hr>

  <h3>{{person.username}}님의 게시글</h3>

  {% for article in person.article_set.all%}
  <div class='card'>
    <div class='card body'>
      <div class='card-title'><h5>{{article.title}}</h5></div>
      <a href="{% url 'articles:detail' article.pk %}">자세히보기</a>
    </div>
  </div>
  {% endfor %}
  <br>
  <h3>{{person.username}}님이 좋아한 게시글</h3>
  {% for article in person.like_articles.all%}
  <div class='card'>
    <div class='card body'>
      <div class='card-title'><h5>{{article.title}}</h5></div>
      <a href="{% url 'articles:detail' article.pk %}">자세히보기</a>
    </div>
  </div>
  {% endfor %}
  <hr>

  <a href="{% url 'articles:index' %}" class='btn btn-success'>목록보기</a>

{% endblock content %}